.inputLabel {
  display: flex;
  flex-direction: column;
}

.input {
  max-width: 200px;
  border: 1px solid #828282;
  padding: 1rem;
  border-radius: 8px;
}
.input:hover {
  border-color: #333333;
}
.input:focus {
  outline: none;
  border: 1px solid blue;
}

.inputDefaultColor {
  color: blue;
}

.startIcon {
  color: gray;
}
