.inputContainer{
  width: 100%;
  position: relative;
}

.inputLabel {
  font-size: 0.75rem;
  width: 200px;
  display: block;
}

.inputLabel:hover, .inputLabelError:hover{
  color: black;
}
.inputLabelError{
  color: red;
}


.inputLabelDefault:focus-within{
  color: blue;
}

.inputLabelError:focus-within{
  color: red;
}

.input {
  width: 100%;
  border: 1px solid #828282;
  border-radius: 8px;
}
.sm{
padding: 0.5rem;
}

.md{
  padding: 1rem;
}

.input:hover {
  border-color: #333333;
}
.input:focus{
  outline: none;
  border: 1px solid blue;
}

.startIcon,.endIcon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}

.endIcon{
 right: 0.5rem;
}

.startIcon{
  left: 0.5rem;
}

.input[disabled] {
  background-color: #f2f2f2;
  border: initial;
}

.inputError,.inputError:focus {
  border-color: red;
}

.helperTextDefault{
  font-size: 0.65rem;
  color: gray;
}

.helperTextError{
  color: red;
}

.textArea{
  display: block;
  resize: none;
  border-radius: 8px;
  padding: 1rem;
}

.fullWidth{
  width: 100%;
}